.dashboard{

margin-left:250px;

padding:40px;

background:#f4f8fb;

min-height:100vh;

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}



.dashboard h1{

grid-column:1/-1;

color:#0f766e;

}



.dashboard p{

grid-column:1/-1;

font-size:18px;

}



.card{

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 8px 25px rgba(0,0,0,0.08);

text-align:center;

transition:.3s;

}



.card:hover{

transform:translateY(-8px);

}



.card h2{

font-size:40px;

}



.card h3{

margin:15px 0;

color:#0f766e;

}



@media(max-width:900px){


.dashboard{

margin-left:0;

grid-template-columns:1fr 1fr;

}


}



@media(max-width:600px){


.dashboard{

grid-template-columns:1fr;

padding:20px;

}


}