.login-container{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#e6fffb;

}



.login-card{

background:white;

width:380px;

padding:40px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,0.15);

text-align:center;

}



.login-card h1{

color:#0f766e;

margin-bottom:10px;

}



.login-card p{

color:#666;

margin-bottom:30px;

}



.login-card input{

width:100%;

padding:14px;

margin:12px 0;

border:1px solid #ddd;

border-radius:10px;

font-size:16px;

}



.login-card button{

width:100%;

padding:14px;

background:#0f766e;

color:white;

border:none;

border-radius:10px;

font-size:18px;

margin-top:15px;

}



.login-card button:hover{

background:#115e59;

}
.login-card select{

width:100%;

padding:14px;

margin:12px 0;

border-radius:10px;

border:1px solid #ddd;

font-size:16px;

}


.link-btn{

background:none;

border:none;

color:#0f766e;

font-weight:bold;

margin-left:5px;

}